<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/index.js" defer></script>

</head>
<body>

    <div class="icon" id="iconArryn" style="top: 35vh; left: 43vh;" onclick="openModal('arryn')"></div>
    <div id="arryn" class="modal"></div>

    <div class="icon" id="iconBaratheon" style="top: 63vh; left: 40vh;" onclick="openModal('baratheon')"></div>
    <div id="baratheon" class="modal"></div>

    <div class="icon" id="iconGreyjoy" style="top: 35vh; left: 17vh;" onclick="openModal('greyjoy')"></div>
    <div id="greyjoy" class="modal"></div>

    <div class="icon" id="iconHightower" style="top: 15vh; left: 34vh;" onclick="openModal('hightower')"></div>
    <div id="hightower" class="modal"></div>

    <div class="icon" id="iconLannister" style="top: 47vh; left: 22vh;" onclick="openModal('lannister')"></div>
    <div id="lannister" class="modal"></div>

    <div class="icon" id="iconMartell" style="top: 75vh; left: 30vh;" onclick="openModal('martell')"></div>
    <div id="martell" class="modal"></div>

    <div class="icon" id="iconStark" style="top: 15vh; left: 34vh;" onclick="openModal('stark')"></div>
    <div id="stark" class="modal"></div>

    <div class="icon" id="iconTargaryen" style="top: 50vh; left: 40vh;" onclick="openModal('targaryen')"></div>
    <div id="targaryen" class="modal"></div>

    <div class="icon" id="iconTully" style="top: 46vh; left: 32vh;" onclick="openModal('tully')"></div>
    <div id="tully" class="modal"></div>

    <div class="icon" id="iconTyrell" style="top: 57vh; left: 27vh;" onclick="openModal('tyrell')"></div>
    <div id="tyrell" class="modal"></div>

</body>
</html>
