body, hr {
    background-color: rgb(5, 76, 117);
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    position: center;
    text-align: center;
}

h4{
    text-align: center;
}

ol{
    text-align: justify;
}